body{overflow: auto;}
#heading{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5em;
	padding-right:15%;
	text-align: center;
	font-weight: bold;
	color: red;
	//margin-top: -100px;
}
#sub-heading{
	display: block;
	font-size: 0.8em;
	font-family: 'Jura', sans-serif;
	font-weight: 700;
	padding-right: 15%;
	text-align: center;
	margin-top: 20px;
	//font-style: italic;
    //text-decoration: underline;
	background: rgb(50,50,50);
	color: rgba(0,255,0,1);
}
header{
	//display: block;
	//background: #42bcf4;
	background: lightblue;
	//background: rgb(50,50,50);
	height: auto;
	padding: 3px;
	margin-top: -10px;
	//clear: both;
}

#div1{
	//clear: both;
	
}
#div1 img{
	float: left;
	width: 20%;
	margin: 2%;
	margin-top: 5%;
}
#div2{
	//clear: both;
	//text-align: center;
	//margin: -25px 10%;
}
.button{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	background: #4CAF50;
	border-radius: 20px;
	border: 2px white double;
	cursor: pointer;
	color: white;
	font-size: 0.8em;
}
.button:hover{
	background: black;
}
#btn1{
	float: left;
	margin-top: 0px;
	margin-left: 20px;
}
#btn2{
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: auto;
	background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
	position: relative;
	background-color: #fefefe;
	width: 80%;
	margin: 5% auto;
	border: 1px solid #888;
	overflow: auto;
}
#div4 .modal-content{
	margin-top: -10%;
	height: 77%;
}
.container{
	padding: 20px;
}
.modal-content label{
	font-weight: bold;
}
.modal-content button{
	width: 100%;
	padding: 10px;
	background: #4CAF50;
	color: white;
}
.modal-content input~a{
	position: absolute;
	right: 10px;
}
input[type=text],input[type=password],input[type=email]{
	width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label:after{
	content: '*';
	color: red;
}
label[for=optemail]:after{
	content: '';
}
.cross{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 2em;
	font-weight: bold;
}
.cross:hover{
	//font-size: 2.5em;
	color: red;
	cursor: pointer;
}
.aftersignup{
	display: none;
}
.rem{
	display: none;
	color: red;
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.animate {
    animation: animatezoom 0.6s;
}
.slideshow-container{
	position: relative;
	margin: auto;
}
.myslides{
	display: none;
}
.myslides img{
	
	width: 100%;
	height: 30vh;
	margin-top: 20px;
}
/*.prev,.next{
	width: auto;
	height: auto;
	padding: 0.5em;
	cursor: pointer;
	position: absolute;
	top: 30%;
	font-size: 1.8em;
	transition: 0.6s ease;
}
.prev{
	left: 0;
}
.next{
	right: 0;
}
.prev:hover,.next:hover{
	border-radius: 10px;
	background: black;
	color: white;
	
}
.next:hover{
	right: 0;
}*/
.dot{
	width: 0.6em;
	height: 0.6em;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;
	display: inline-block;
}
#dots{
	//display: block;
	position: absolute;
	bottom: 0;
	left: 40%;
}
.active{
	background-color: grey;
}
footer{
	text-align: center;
	//background: #42bcf4;
	background: rgb(50,50,50);
	height: 75px;
	margin-top: 20px;
	font-size: 0.7em;
}
footer button{
	width: auto;
	border: 0;
	text-decoration: underline;
	display: inline-block;
	margin-top: 5px;
	cursor: pointer;
	background: transparent;
	color: white;
	font-size: 0.8em;
	}
footer br~span{
	//text-align: left;
	color: white;
}
footer img{
	//border: 1px solid transparent;
	//border-radius: 60%;
	margin-top: 5px;
	vertical-align: bottom;
}
#div5 .modal-content{
	margin-top: -10%;
	height: 75%;
}
caption{
	//text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;
	color: green;
}
table,td{
	border: 2px solid red;
	border-collapse: collapse;
}
table{
	width: 90%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
td:nth-child(even){
	background: #fff0f5;
}
td:nth-child(odd){
	background: #e6e6fa;
}
.pp{
	
	//vertical-align: top;
}
.desc{
	//max-width: 80%;
}
#two{
	background-image: url(20150501_202542.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: ;
}
td a{
	//text-align: center;
	word-wrap: break-word;
}
a img{
	width: 20px ;
	height: 20px;
}
@media (max-width: 300px)
{
	td {
		word-wrap: break-word;
	}
}
@media (min-width: 850px)
{
	#div1 img{
		width: 80px;
		height: 80px;
		margin-top: 1%;
	}
	#heading{
		margin-top: 30px;
		font-family: 'Do Hyeon', sans-serif;
		font-size: 2.5em;
	}
	#sub-heading{
		//margin-top: -20px;
		font-size: 1.3em;
		
	}
	.button{
		float: right;
		width: 100px;
		margin-top: -50px;
		margin-right: 40px;
	}
	#btn1{
		position: absolute;
		right: 100px;
		margin-top: -50px;
		margin-left: 950px;
	}
	#btn2{
		margin-top: -50px;
	}
	header{
		clear: both;
		margin-top: -30px;
		height: 100px;
		margin-left: -7px;
		margin-right: -7px;
		padding: 0;
	}
	.modal-content{
		width: 30%;
	}
	#div4 .modal-content{
	  margin-top: auto;
    }
	#div5 .modal-content{
	  width: 30%;
	  margin-top: auto;
    }
	.slideshow-container{
		//margin-top: 20px;
	}
	.myslides{
		//height: 50%;
	}
	.myslides img{
		display: block;
		width: 50%;
		height: 300px;
		margin: 50px auto;
	}
	.prev{
	  left: 25%;
    }
    .next{
	  right: 25%;
    }
	.next:hover{
	  right: 25%;
    }
	.prev,.next{
		top: 35%;
	}
	#dots{
		left: 48%;
	}
	footer{
		//margin-bottom: 0;
		position: absolute;
		//bottom: 0;
		width: 100%;
		margin-left: -5px;
		//margin-right: 50px;
		font-size: 1em;
	}
	caption{
		font-size: 1.3em;
		font-weight: bold;
		text-decoration: underline;
		color: green;
	} 
}
